.logo{
    padding: 15px 0 15px 0;
    border-bottom: 3px solid #000;
}
.logo > img{
    margin-left: 300px;
}
.logogit{
    margin-left: 215px;
}
.btnt{
    margin-left: 500px;
}
.thanhmau{
    padding: 25px 0 25px 0;
    border-bottom: 3px solid #000;
    background-color: rgba(9, 237, 207, 0.5); 
}
.menu{
    margin-top: 150px;
}
.ql1{
    float: left;
    text-align: center;
    margin-left: 390px;
}
.ql2{
    float: left;
    text-align: center;
    margin-left: 140px;
}
.ql3{
    margin-top: 20px;
    margin-right: 200px;
    text-align: center;
}
.kengang{
    border-bottom: 3px solid #000;
    margin-top: 200px;
}