body{
    background-color: rgba(67, 234, 240, 0.5);
}

/* Success */
.success{
    box-shadow: 5px 5px 5px 8px rgba(0,0,0,0.10);
    margin: 150px 500px 0 500px;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}
.success__title{
    font-family:  Arial, Helvetica, sans-serif ;
    text-align: center;
}
.success_icon{
    padding: 20px 118px;
}
.success__ok{
    border: none;
    border-radius: 10px;
    background-color: rgb(42, 237, 136);
    padding: 10px 200px;
    
}
.success__ok:hover{
    background-color:rgb(16, 185, 98);
    color: aliceblue;
    cursor: pointer;
}

/* Fail */
.fail__title{
    font-family:  Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 30px;
}
.fail__btn{
    border: none;
    border-radius: 10px;
    background-color: rgb(237, 57, 25);
    padding: 10px 200px;
}
.fail__icon{
    padding: 20px 108px;
}
.fail__btn:hover{
    background-color:rgb(185, 16, 16);
    color: aliceblue;
    cursor: pointer;
}