form {
    background: linear-gradient(90deg, rgb(80, 185, 194) 0%, rgb(187, 195, 195) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
body {
    background: linear-gradient(90deg, rgb(80, 185, 194) 0%, rgb(187, 195, 195) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
h1{
    text-align: center;
    color: #30b0b3;
}