*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.table{
    border-radius: 25px;
    background-color: rgba(9, 237, 207, 0.2);
}
.menu{
    padding: 15px 0 15px 0;
    border-bottom: 3px solid #000;
    overflow: hidden;
    flex: 1;
    display: flex;
    background-color: rgba(9, 237, 207, 0.5); 
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li > a{
    color: #000000;
}
.menu > li:first-child{
    margin-left: 860px;
    position: relative;
}
.menu > li::after{
    content: "";
    display: block;
    width: 1px;
    height: 60%;
    background: black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.menu > li:last-child::after{
    display: none;
}
.logo{
    padding: 15px 0 15px 0;
    border-bottom: 3px solid #000;
}
.logo > img{
    margin-left: 300px;
}
.kengang{
    border-bottom: 3px solid #000;
    overflow: hidden;
}
.namefrom{
    color: #000;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 40px;
}
.logogit{
    margin-left: 240px;
}
.btnt{
    margin-left: 500px;
}



